<main>
  <h1>Clientes</h1>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Nome</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= link_to 'Mostrar', customer_path(customer) %></td>
          <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
          <td><%= link_to 'Excluir', customer, method: :delete, data: { confirm: 'Deseja realmente excluir esse cliente?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Novo cliente', new_customer_path %>
</main>
